@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  html {
    @apply font-mpo-body
  }
  h1 {
    @apply text-4xl font-black font-mpo-title;
  }
  h2 {
    @apply text-2xl font-bold font-mpo-title;
  }
  h3 {
    @apply text-xl font-bold font-mpo-title;
  }
  h4 {
    @apply text-xl font-bold font-mpo-title;
  }
  h5 {
    @apply text-lg font-bold font-mpo-title;
  }
}

@layer utilities {
  .mpo-link {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #cc4000;
    text-decoration-thickness: 3px;
  }
}
